body{
    color:#ED584F
}

.container{
    margin:0px;
    width:70vw;
}

form{
    display: none;
    background-color:white;
    margin:auto;
    padding:10px;
    margin:10px

}
.jumbotron{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50vh;
    opacity:0.9;
}

.quote{
    width:500px;
}

img{
   margin:0 ;
   height:300px;
   width:300px;
}

.grid3{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
}

.grid3 img{
    border-radius: 3px;
}



